body{
	text-align: center;
	font-size: 18px;
	font-family: 'Roboto Mono', monospace;
}

.pointsmeter {
	float: right;
	width: 200px;
	height: 130px; 
	background-color: darkgrey;
  }
  
.livesmeter {
	float:left;
	width:200px;
	height: 130px;
	background-color:darkgrey;
  }

.header{
	background:#f4f4f4;
	border-bottom:#ccc 3px solid;
	padding:20px;
}

.container{
	width:700px;
	margin:30px auto;
}
table {
	margin: auto;
  border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
	
}

.wins_lives
{
	text-align: center;
	margin: auto;
	background: darkgrey;
	border: #000 2px solid;
	width: 100%;
	height: 100px; 
}